/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar .btn {
	margin-top: 7px;
	margin-right: 7px;
}

@media (max-width: 335px){
	.navbar .btn {
		width: 90%;
		margin: 5%;
		margin-top: 0;
		float: none;
	}
}

.navbar-nav {
	margin: 0 !important;
}

.navbar-nav>li {
	float: left;
}

.navbar-nav>li>a{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

@media (max-width: 235px){
	.navbar-nav>li>a {
		padding: 0;
	}
}

.navbar-header {
	width: 100%;
}

.container ul {
	padding: 0;
}

.container ul li {
	list-style-type: none;
	padding: 10px 0;

	border-bottom: 1px solid #dadada;
}

.container ul.matches li:before {
	content: 'VS';
	color: silver;
	float: left;
	position: relative;
	left: 50%;
	margin-left: -70px;
}

@media (max-width: 767px){
	.container ul.matches li:before {
		content: '' ''
	}
}

.container ul li:after {
	content: '';
	display: block;
	clear: both;
}

.container ul li p {
	width: 50%;
	float: left;
}