<!DOCTYPE html>
<html>
<head>
  <title>Fussball Score Tracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="/">Top players</a>
  <a href="/matches">Latest matches</a>
  <a href="/matches/new">Add match</a>

  <%= yield %>

</body>
</html>
