<!DOCTYPE html>
<html>
<head>
  <title>Fussball Score Tracker</title>
  
  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-default">

    <div class="navbar-header">

      <a href="/" class="navbar-brand pull-left hidden-xs">Fussball Score Tracker</a>

      <div class="pull-left">

        <ul class="nav navbar-nav">
          <li><a href="/">Top players</a></li>
          <li><a href="/matches">Latest matches</a></li>
        </ul>

      </div>

      <a class="btn btn-primary pull-right" href="/matches/new">Add Match</a>

    </div>

  </nav>

  <div class="container">

    <%= yield %>

    <p class="footer-text text-muted text-center">Made with <3 full of love by <a href="http://www.joshuadelange.com">Joshua de Lange</a>. Fellow nerds can contribute on <a href="https://github.com/joshuadelange/fussball-score-tracker">GitHub</a>.</p>

  </div>

</body>
</html>
